allow hal_wifi_hostapd_default hal_hostapd_hwservice:hwservice_manager { add };
allow hal_wifi_hostapd_default vendor_data_file:dir { search };
allow hal_wifi_hostapd_default vendor_data_file:file { open read write };
