type bt_prop, property_type;
type media_prop, property_type;
type ylog_lite_prop, property_type;
type ylog_lite_pprop, property_type;
type vendor_power_prop, property_type;
type vendor_radio_prop, property_type;
type vendor_sys_prop, property_type;
type vendor_video_prop, property_type;
type vendor_systemdebuggerd_prop, property_type;
type vendor_thermald_prop, property_type;
type vendor_engpc_prop, property_type;
type vendor_camera_prop, property_type;
type vendor_gpu_prop, property_type;
type vendor_hwui_prop, property_type;
type vendor_wcnd_prop, property_type;
type vendor_modem_prop, property_type;
type vendor_product_prop, property_type;
type vendor_eng_prop, property_type;
type vendor_aprd_prop, property_type;
type vendor_faceid_prop, property_type;
type vendor_hwc_prop, property_type;
