#add for tcp_socket/udp_socket
typeattribute hal_gnss_default hal_wifi_supplicant_server;
typeattribute hal_gnss_default hal_wifi_supplicant;
net_domain(hal_gnss_default);



#at read and write
allow hal_gnss_default tty_device:chr_file {open read write ioctl};

#socket
allow hal_gnss_default dnsproxyd_socket:sock_file {write};
allow hal_gnss_default netd:unix_stream_socket {connectto};
allow hal_gnss_default fwmarkd_socket:sock_file {write};
allow hal_gnss_default port:tcp_socket {name_connect};
#allow hal_gnss_default hal_gnss_default:udp_socket {ioctl create setopt bind read write getopt connect};
allow hal_gnss_default hal_gnss_default:tcp_socket {ioctl create setopt bind read write getopt connect};

#log
#allow hal_gnss_default system_data_file:dir {write add_name create setattr};

#load certificate
allow hal_gnss_default gnss_file:file {open read getattr setattr};

allow hal_gnss_default sysfs:file { open read ioctl};
allow hal_gnss_default sysfs:dir { open read  };
#gnss mem dump for datadump.mem
allow hal_gnss_default kernel:dir { search write add_name remove_name open create };
allow hal_gnss_default kernel:file { open read write create append };
allow hal_gnss_default prod_file:dir { search write add_name remove_name open create };
allow hal_gnss_default prod_file:file { open read write create append };
#end dumap
allow hal_gnss_default prod_file:file { read getattr open };
#============= hal_gnss_default ============== 2017-08-02-13-24-29 added by genSepolicy script
allow hal_gnss_default gnss_file:file write;
allow hal_gnss_default gpsd:unix_stream_socket connectto;
allow hal_gnss_default serial_device:chr_file { read write ioctl open };
allow hal_gnss_default slogmodem_vendor:unix_stream_socket connectto;
allow hal_gnss_default hal_cplog_connmgr_default:unix_stream_socket { connectto };
allow hal_gnss_default vndbinder_device:chr_file { read write ioctl open };
allow hal_gnss_default wcn_device:chr_file { read write ioctl open };

#============= hal_gnss_default ============== 2017-08-02-16-46-00 added by genSepolicy script
allow hal_gnss_default gnss_file:dir search;
allow hal_gnss_default prod_file:dir search;

allow hal_gnss_default gnss_file:dir { write add_name };
allow hal_gnss_default gnss_file:file create;
#wcnd
allow hal_gnss_default wcnd:unix_stream_socket connectto;

#libgps
allow hal_gnss_default block_device:dir search;
allow hal_gnss_default mmcblk_device:blk_file {read open getattr};

