allow hal_graphics_allocator_default vendor_sf_fbc_prop:file {read open getattr map};
allow hal_graphics_allocator_default vendor_gpu_fbc_prop:file {read open getattr map};
allow hal_graphics_allocator_default vendor_vsp_fbc_prop:file {read open getattr map};
allow hal_graphics_allocator_default vendor_whale2_afbc_prop:file {read open getattr map};
