#============= hal_gatekeeper_default ============== 2017-08-02-13-24-29 added by genSepolicy script
#allow hal_gatekeeper_default device:chr_file { read write ioctl open };

