
allow init configfs:file write;
allow init configfs:lnk_file create;
allow init rootfs:system module_load;
allow init self:capability sys_module;
allow init socket_device:sock_file { create unlink setattr };
allow init mmcblk_device:blk_file write;

#============= init ============== 2017-08-02-16-46-00 added by genSepolicy script
allow init kernel:system module_request;
allow init proc_zoneinfo:file getattr;

#============= init ============== 2017-08-09-12-45-45 added by genSepolicy script
allow init functionfs:dir mounton;

allow init pstorefs:dir mounton;

allow init mmcblk_device:blk_file {relabelto};
allow init tmpfs:lnk_file create;

set_prop(init, system_prop);

allow init sysfs_emmcboot_forcero:file {open write};

allow init prod_file:dir mounton;

#ZRAM
allow init zram_block_device:blk_file { write };

allow init sysfs:file { setattr };

allow init mnt_vendor_file:dir mounton;

allow init vendor_file:system {module_load};
