#import /init.common.rc
import /vendor/etc/init/hw/init.common.rc

on post-fs-data
    setprop fpga.target.enable 1
    setprop debug.delaytime.min 10
    setprop debug.delaytime.mid 100
    setprop debug.delaytime.max 1000
    setprop debug.android_watchdog.disable 1

#touch panel
    insmod /vendor/lib/modules/synaptics_dsx.ko

#modify permission for voicetrigger dev
    chown system  audio /dev/rt5512
    chmod 660     /dev/rt5512

on boot
    chown cameraserver system /sys/devices/virtual/misc/sprd_flash/test
    chmod 660 /sys/devices/virtual/misc/sprd_flash/test
    setprop qemu.hw.mainkeys 0

# block I/O vm.dirty parameters
    write /proc/sys/vm/dirty_background_bytes 4194304
    write /proc/sys/vm/dirty_bytes  52428800
