#import /init.common.rc
import /vendor/etc/init/hw/init.common.rc

on init
    start watchdogd

on post-fs-data
#    setprop fpga.target.enable 1
    setprop debug.delaytime.min 10
    setprop debug.delaytime.mid 100
    setprop debug.delaytime.max 1000
    setprop debug.android_watchdog.disable 1

#modify permission for voicetrigger dev
    chown system  audio /dev/rt5512
    chmod 660     /dev/rt5512

on post-fs
    insmod ${ro.vendor.ko.mount.point}/socko/stmvl53l0.ko
    insmod ${ro.vendor.ko.mount.point}/socko/tcs3430.ko

#modify for ams calibration
    chmod 666 /mnt/vendor/productinfo/tcs3430_calibration.txt
#modify for tof calibration
    chmod 666 /mnt/vendor/vl53l0_offset_calibration.file
    chmod 666 /mnt/vendor/vl53l0_xtak_calibration.file

on boot
    chmod 664 /sys/devices/virtual/input/input5/tcs3430_als_x
    chmod 664 /sys/devices/virtual/input/input5/tcs3430_als_y
    chmod 664 /sys/devices/virtual/input/input5/tcs3430_als_z
    chmod 664 /sys/devices/virtual/input/input5/tcs3430_als_ir1
    chmod 664 /sys/devices/virtual/input/input5/tcs3430_als_gain
    chmod 664 /sys/devices/virtual/input/input5/tcs3430_als_atime
    chmod 664 /sys/module/dpu_r4p0/parameters/cabc_disable
    chown root system /sys/devices/virtual/input/input5/tcs3430_als_x
    chown root system /sys/devices/virtual/input/input5/tcs3430_als_y
    chown root system /sys/devices/virtual/input/input5/tcs3430_als_z
    chown root system /sys/devices/virtual/input/input5/tcs3430_als_ir1
    chown root system /sys/devices/virtual/input/input5/tcs3430_als_gain
    chown root system /sys/devices/virtual/input/input5/tcs3430_als_atime
    chown root system /sys/module/dpu_r4p0/parameters/cabc_disable
    chmod 666 /dev/stmvl53l0_ranging
    chown system system /dev/stmvl53l0_ranging
    chown cameraserver system /sys/devices/virtual/misc/sprd_flash/test
    chmod 660 /sys/devices/virtual/misc/sprd_flash/test

# block I/O vm.dirty parameters
    write /proc/sys/vm/dirty_background_bytes 4194304
    write /proc/sys/vm/dirty_bytes  52428800

# Set watchdog timer to 30 seconds and pet it every 10 seconds to get a 20 second margin
service watchdogd /system/bin/watchdogd 10 30
    class core
    oneshot
    seclabel u:r:watchdogd:s0
