on post-fs
    insmod ${ro.vendor.ko.mount.point}/socko/lis2dh.ko
    insmod ${ro.vendor.ko.mount.point}/socko/ltr_558als.ko

on factorytest
    insmod ${ro.vendor.ko.mount.point}/socko/lis2dh.ko
    insmod ${ro.vendor.ko.mount.point}/socko/ltr_558als.ko
