type hal_extRadio_hwservice, hwservice_manager_type;
type hal_hostapd_hwservice, hwservice_manager_type;
type hal_extthermal_hwservice, hwservice_manager_type;
type hal_connmgr_hwservice, hwservice_manager_type;
type hal_extGnss_hwservice, hwservice_manager_type;
type hal_enhance_hwservice, hwservice_manager_type;

#log
type hal_log_hwservice, hwservice_manager_type;
type hal_aprd_hwservice, hwservice_manager_type;
#broadcastradio
type hal_extbroadcastradio_hwservice, hwservice_manager_type;

#add for network hidl service
type hal_network_hwservice, hwservice_manager_type;
type hal_cplog_connmgr_hwservice, hwservice_manager_type;

