# add for CCSA
allow mediaprovider security_service:service_manager { find };

allow mediaprovider shell_data_file:dir { getattr };
allow mediaprovider vendor_sys_prop:file { read };
allow mediaprovider power_ex_service:service_manager { find };
