type sprd_radio_app, domain;
app_domain(sprd_radio_app)
typeattribute sprd_radio_app mlstrustedsubject;
allow sprd_radio_app modem_control:unix_stream_socket { connectto read write };
allow sprd_radio_app binder_device:chr_file { read write open ioctl };
allow sprd_radio_app system_data_file:dir { getattr };
allow sprd_radio_app dalvikcache_data_file:dir { getattr };
allow sprd_radio_app dalvikcache_data_file:file { getattr read open };
allow sprd_radio_app mnt_expand_file:dir { getattr };
allow sprd_radio_app system_data_file:lnk_file { getattr read };
allow sprd_radio_app app_data_file:dir { getattr search };
allow sprd_radio_app app_data_file:file { read write open};
allow sprd_radio_app user_profile_data_file:file { getattr read open };
allow sprd_radio_app zygote:fd { use };
allow sprd_radio_app surfaceflinger:binder { call };
allow sprd_radio_app sprd_radio_app:process { execmem };
allow sprd_radio_app ashmem_device:chr_file  { execute };
allow sprd_radio_app tmpfs:file  { read execute };
allow sprd_radio_app adbd:unix_stream_socket { connectto };
allow sprd_radio_app activity_service:service_manager { find };
allow sprd_radio_app display_service:service_manager { find };
allow sprd_radio_app network_management_service:service_manager { find };
allow sprd_radio_app connectivity_service:service_manager { find };
allow sprd_radio_app wcnd:unix_stream_socket { connectto };
allow sprd_radio_app slogmodem_vendor:unix_stream_socket { connectto };
allow sprd_radio_app hal_cplog_connmgr_default:unix_stream_socket { connectto };
allow sprd_radio_app notification_service:service_manager { find };
allow sprd_radio_app accessibility_service:service_manager { find };
allow sprd_radio_app graphicsstats_service:service_manager { find };
allow sprd_radio_app surfaceflinger_service:service_manager { find };
allow sprd_radio_app input_method_service:service_manager { find };
allow sprd_radio_app input_service:service_manager { find };
allow sprd_radio_app media_session_service:service_manager { find };
allow sprd_radio_app trust_service:service_manager { find };
allow sprd_radio_app search_service:service_manager { find };
allow sprd_radio_app uimode_service:service_manager { find };

allow sprd_radio_app vendor_radio_prop:file { read open getattr };
allow sprd_radio_app vendor_sys_prop:file { read open getattr };
allow sprd_radio_app performance_fw_service:service_manager { find };
allow sprd_radio_app activity_task_service:service_manager { find };
