

typeattribute hal_bluetooth_default hal_wifi_supplicant_server;
typeattribute hal_bluetooth_default hal_wifi_supplicant;
allow hal_bluetooth_default sysfs:file { read write open ioctl };
allow hal_bluetooth_default prod_file:dir search;
allow hal_bluetooth_default prod_file:file { read write open rw_file_perms setattr };
allow hal_bluetooth_default serial_device:chr_file { read write open ioctl };
allow hal_bluetooth_default tty_device:chr_file { read write open ioctl };
allow hal_bluetooth_default vendor_data_file:dir { create read write open add_name search getattr};
allow hal_bluetooth_default vendor_data_file:file {create read write open getattr};
allow hal_bluetooth_default self:tcp_socket create;
allow hal_bluetooth_default vendor_sys_prop:file { read };
