

# porting for double-Tcard : add for move-app-to-sdcard
allow priv_app asec_apk_file:file {getattr read open};

allow priv_app asec_apk_file:file {getattr read write open};

allow priv_app asec_apk_file:dir {search};


#============= priv_app ============== 2017-08-02-13-24-29 added by genSepolicy script
typeattribute priv_app halclientdomain;
typeattribute priv_app hal_power_client;
#allow priv_app hal_power_hwservice:hwservice_manager { find };
allow priv_app addon_service:service_manager { find };

#allow priv_app vendor_file:file {r_file_perms };

#allow priv_app bcc_exec:file {open read  getattr };
allow priv_app system_app_data_file:file { read write };

#add for ConnectivityServiceEx
allow priv_app connectionEx_service:service_manager { find };
#add for network_adapter
allow priv_app networkadapter_service:service_manager { find };

# add for CCSA
allow priv_app security_service:service_manager { find };

#for sprd_jpg
allow priv_app sprd_img_device:chr_file { read write open ioctl map};

# add for coredump
allow priv_app coredump_file:dir { write add_name };

#add for radio get vendor prop
get_prop(priv_app, vendor_radio_prop);

#add for radio get vendor prop
get_prop(priv_app, vendor_sys_prop);

#add for GPU
get_prop(priv_app, vendor_gpu_prop);

#add for HWUI
get_prop(priv_app, vendor_hwui_prop);
