type systemDebuggerd, domain;
type systemDebuggerd_exec, exec_type,file_type, vendor_file_type;
type sysdumpdb_data, file_type, data_file_type;
init_daemon_domain(systemDebuggerd)

allow systemDebuggerd proc:file {getattr open read write};
allow systemDebuggerd property_socket:sock_file write;
allow systemDebuggerd init:unix_stream_socket connectto;
set_prop(systemDebuggerd, vendor_systemdebuggerd_prop)
get_prop(systemDebuggerd, vendor_systemdebuggerd_prop)
set_prop(systemDebuggerd, vendor_product_prop)
allow systemDebuggerd block_device:dir search;
allow systemDebuggerd mmcblk_device:blk_file {getattr open read write};
allow systemDebuggerd sysdumpdb_data:dir { add_name getattr setattr create search open read remove_name rmdir write unlink rename};
allow systemDebuggerd sysdumpdb_data:file { create getattr setattr open read rename write unlink append };
