# For lmfs
#allow system_server lmfs:unix_stream_socket {connectto read};

#for modem
allow system_server refnotify_device:chr_file {read write open ioctl};
#allow system_server slogmodem:unix_stream_socket { connectto };
#allow system_server slogmodem:unix_stream_socket { connectto };
allow system_server serial_device:chr_file { read write open ioctl };
allow system_server wcn_device:chr_file { read write open ioctl };

# For dhcp6
#allow system_server dhcp6c_data_file:dir { search write add_name };
#allow system_server dhcp6c_data_file:file { write open getattr create read };

allow system_server aprd:fd use;
allow system_server aprd:fifo_file {write};
#allow system_server apr_data_file:file {open create read write setattr getattr unlink};
#============= system_server ============== 2017-08-02-13-24-29 added by genSepolicy script
allow system_server bluetooth:file write;
allow system_server platform_app:file write;
allow system_server priv_app:file write;
allow system_server socket_device:sock_file write;
allow system_server system_app:file write;
allow system_server untrusted_app:file write;
allow system_server untrusted_app_25:file write;

#============= system_server ============== 2017-08-02-15-13-07 added by genSepolicy script
allow system_server radio:file write;
#allow system_server ylog:binder { call };
allow system_server system_prop:property_service { set };
#allow system_server gnss_file:dir { create search add_name open read write remove_name };
#allow system_server gnss_file:file { read write open create getattr setattr append unlink };

# add for power
allow system_server powerguru_service:service_manager { add find };
allow system_server power_ex_service:service_manager { add find };
allow system_server hal_extthermal_hwservice:hwservice_manager {find};

#allow system_server dalvikcache_data_file:file {r_file_perms execute};
#allow system_server vendor_file:file {r_file_perms execute};
allow system_server sprd_engineermode_app:file { write };

# for drm
allow system_server mediaprovider:file{ w_file_perms };
allow system_server sprd_radio_app:file write;
#add for softap
allow system_server dnsmasq:unix_stream_socket { connectto };
#allow system_server hostapd:binder { call transfer };
allow system_server hal_hostapd_hwservice:hwservice_manager{ find };
#add for validationtool
allow system_server sprd_sgps_app:file { write };

#add for ConnectivityServiceEx
allow system_server connectionEx_service:service_manager { add find };
#add for network_adapter
allow system_server networkadapter_service:service_manager { add find };

# add for CCSA
allow system_server security_service:service_manager { add find };
allow system_server system_file:file { lock ioctl };#for ccsa to use telephonesec.db

allow system_server radio_prop:property_service set;
allow system_server hal_extbroadcastradio_hwservice:hwservice_manager find;
# for cmd_services
# allow system_server cmd_services:fd{ write use };
allow system_server cmd_services:binder{ call };

#add for camera
allow system_server hal_camera_default:binder {call transfer};

allow system_server hal_light_hwservice:hwservice_manager find;
allow system_server hal_memtrack_hwservice:hwservice_manager find;
allow system_server hal_vibrator_hwservice:hwservice_manager find;

#add for gnss
allow system_server hal_extGnss_hwservice:hwservice_manager {find};

#add for radio get vendor prop
get_prop(system_server, vendor_radio_prop);

#add for radio get vendor prop
get_prop(system_server, vendor_sys_prop);

#add for get system lmk prop
get_prop(system_server, system_lmk_prop);

#For thermal
get_prop(system_server, vendor_thermald_prop);

#add for idcs and kls
allow system_server vendor_idcs_file:dir { search };
allow system_server vendor_kls_file:dir { search };
#allow system_server vendor_idcs_file:file { open read getattr };
#allow system_server vendor_kls_file:file { open read getattr };
#add for hprof
allow system_server hprof_file:dir {write getattr open add_name read search};
allow system_server hprof_file:file { create getattr write open read };
#add for rtc
allow system_server sysfs_rtc:dir { search open read };
allow system_server sysfs_rtc:file { open read write };

#add for GPU
get_prop(system_server, vendor_gpu_prop);

allow system_server media_prop:file { read };

